.certifications-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 20px;
}
.certificate-image {
  display: flex;
  align-items: center;
  position: relative;
  z-index: 2;
  justify-content: center;
}
.certificate-image img {
  width: 70px;
}
.certifications {
  padding-top: 150px;
  position: relative;
}
.certifications::before {
  content: "certficates";
  text-transform: uppercase !important;
  position: absolute;
  top: 70px;
  font-weight: 800;
  left: 50px;
  color: #e6e9ec;
  z-index: 1;
  font-size: 100px;
}
