/* Hero */

.hero {
  height: 80vh;
  background: url("/assets/images/home/banner/banner.jpg");
  background-size: cover;
  background-position: center center;
}

.hero .heading {
  color: var(--light);
  font-weight: 200;
}
.hero .heading span {
  font-weight: 600;
}

/* Hero */