.topbar {
  background-color: #c5363b;
  padding: 10px 0;
  color: #ffffff;
}

.topbar .logo {
  width: 100px;
}

.topbar-wrapper {
  display: flex;
  justify-content: end;
  gap: 60px;
  align-items: center;
}
.topbar .contact-details {
  display: flex;
  gap: 20px;
  align-items: center;
  flex-direction: row;
}
.topbar a {
  color: var(--light);
  text-decoration: none;
}
.mail,
.phone {
  display: flex;
  align-items: center;
  gap: 8px;
}

.topbar .contact-details img {
  object-fit: cover;
  width: 25px;
}
.social-media {
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 25px;
}
.social-media .img {
  width: 20px;
  height: 20px;
  object-fit: contain;
  cursor: pointer;
}

.social-media-inner {
  display: flex;
  align-items: center;
  gap: 10px;
}

@media only screen and (max-width: 768px) {
  .topbar {
    display: none;
  }
}
